{% extends 'app/base.html' %} {% load static %} {% block title %} Login {% endblock %} {% block main-content %}

<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-center" id="head1">Login</h2>
            <div class="card shadow" style="width:30rem;">

                <form action="" method="post" novalidate class="p-5">
                    {% csrf_token %} {% for fm in form %} {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.error|striptags}}</small> {% endfor %}
                    <small><a href="{% url 'password_reset' %}">Forgot Password</a></small><br>
                    <input type="submit" value="submit" class="btn btn-primary my-2">

                    <div class="text-center text-primary fw-bold">
                        <small>New User? <a href="{% url 'customer-registration' %}" class="text-danger">Create an Account</a></small>
                    </div>

                    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %} {% endif %}
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock main-content %}