{% extends 'app/base.html' %} {% load static %} {% block title %} Profile {% endblock %} {% block main-content %}


<div class="container my-3">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>

        <a class="btn btn-primary " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Press Profile
          </a>


        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">P&A</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="shadow p-2">
                    <ul>
                        <li class="d-grid my-3"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-9 my-5 shadow offset-md-1 text-center">
            <h4>Password Changed Successfully !!!</h4>
             <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
        </div>

    </div>
</div>


{% endblock main-content %}