{% extends 'app/base.html' %} {% load static %} {% block title %} Search Result {% endblock title %} {% block main-content %}

<div class="container my-5">
    <div class="row">
        {% comment %} <div class="col-"> {% endcomment %}
            <div class="row">
                {% for prod in product %}
                <div class="col-lg-4 col-md-6 text-center mb-4 hover-shadow zoom-hover">
                    <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <div>
                            <img src="{{prod.product_image.url}}" width="300px" height="200px"/>
                            <div class="fw-bold">{{prod.title}}</div>
                            <div class="fw-bold text-danger">Rs.{{prod.discounted_price}}/-<small class="fw-light text-decoration-line-through">{{prod.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
</div>


{% endblock main-content %}